*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-Color: #2b3a55;
  --second-Color: #ce7777;
  --third-Color: #e8c4c4;
  --fourth-Color: #f2e5e5;
  --bg-white: white;
  --width-container: 90%;
}

.my-footer {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--bg-white);
}
.my-footer .container-footer {
  width: 100%;
  height: 20px;
  position: fixed;
  display: flex;
  left: 50%;
  bottom: 0;
  margin-left: calc((calc(var(--width-container) / 2)) * -1);
}
footer .container-footer h6 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-Color);
}
